.navbar-expand-sm{
    background-color: grey;
}

#barra{
    color: whitesmoke
}

body{
    background-image: url('IMG/logo2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}

#carouselExample{
    height: 600px;
    width: 800px;
    left: 30%;
}

#img1{
    width: 300px;
    height: 300px;
}

.visually-hidden{
    height: 80px;
    width: 90px;
    color:grey;
}

.carrousel-iner{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.slider{
    background-image: url();
    background-size: cover;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    animation: animate 10s infinite;
}

.navbar{
    border-radius: 10px;
}


footer{
    margin-top: auto;
    color:whitesmoke
}