
body{
    background-image: url(IMG/pixelcut-export.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    text-align: center;
    font-size: 50px;
    color:orange;
}

.container-imagen{
    width:600px;
    overflow: hidden;
    text-align: center;
    
}

.zoom-image{
    width: 100%;
    transition: transform 0.5s ease;
}

.zoom-image:hover{
    transform: scale(1.2);
}

#panna{
    width: 900px;
    height: 600px;
}

h1{
    text-align: center;
}